/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* DEBUG */
main{
    margin: auto;
    height: calc(100%-120px);
    width: 90%;
    color: ;
}

footer{
    background-color: red;
    height: 90px;
}

/* COMMON */
body{
    background-color: black;
    height: 100vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* TYPOGRAPHY */
body{
    font-family: 'Lato', sans-serif;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

/* HEADER */
header{
    height: 30px;
    text-align: right; 
    line-height: 1.7;
    margin-bottom: 30px;
}

header span{
    margin-right: 10px;
    background-color: #4A4A4A;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 14px;
}
/* MAIN */
.user{
    width: calc(100% / 7);
    padding: 7px 3px;
    po
}

.user img{
    width: 100%;
    display: block;
}

/* FOOTER */

