/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* COMMON */
body{
    background-color: black;
    height: 100vh;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* TYPOGRAPHY */
body{
    font-family: 'Lato', sans-serif;
    color: white;
}

a{
    color: white;
    text-decoration: none;
}

/* HEADER */
header{
    height: 30px;
    text-align: right; 
    line-height: 1.7;
    margin-bottom: 30px;
}

header span{
    margin-right: 5px;
    background-color: #4A4A4A;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 8px;
}
/* MAIN */
main{
    margin: auto;
    height: calc(100%-90px);
    width: 90%;
    overflow-y: auto;
}

.user{
    width: calc(100% / 7);
    padding: 10px 4px;
    position: relative;
}

.user img{
    max-width: 100%;
    display: block;
}

.caption {
    position: absolute;
    bottom: 11%;    
    left: 3%;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: left;
    font-size: 8px;
}
 
/* FOOTER */
footer{
    height: 60px;
}

.audio-video-nav, .end-call{
    width: 10%;
}

.audio-video-nav ul{
    display: flex;
}

.social-nav{
    width: 80%;
    
}

.social-nav ul{
    display: flex;
}

footer .row {
    height: 100%;
    align-items: center;
    padding: 0 10px;
    text-align: center;
}

ul{
    list-style: none;
    font-size: 8px;
}

li{
    padding-right: 10px;
}

li div{
    padding-bottom: 5px;
    
}

.end-call div{
    background-color: #4A4A4A;
    height: 100%;
}